<h1>Preferences</h1>
<% @preferences.each do |preference| %>
  <p>Artist Sort Order: <%= preference.artist_sort_order %></p>
  <p>Song Sort Order: <%= preference.song_sort_order %></p>
  <p>Allow Creation of Artists: <%= preference.allow_create_artists %></p>
  <p>Allow Creation of Songs: <%= preference.allow_create_songs %></p>
  <p><%= link_to "Edit Preferences", edit_admin_preference_path(preference) %></p>
  <% end %>